<div>
  <h2>{{ selectedTeamID || "All Games" }}</h2>

  <div style="margin-left: 50px" class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ selectedTeamID || "Select Team" }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" (click)="clearSelection()" value="">None</a>
      </li>

      <li>
        <a
          class="dropdown-item"
          *ngFor="let team of teams"
          value="{{ team.id }}"
          (click)="selectChangeHandler(team)"
          >{{ team.name }}</a
        >
      </li>
    </ul>
    <button
      style="margin-left: 10px"
      class="btn btn-primary"
      *ngIf="selectedTeamID"
      (click)="wonOnly()"
    >
      Won Only
    </button>

    <button
      style="margin-left: 10px"
      class="btn btn-primary"
      *ngIf="selectedTeamID"
      (click)="upcommingOnly()"
    >
      Upcomming games
    </button>

    <div
      *ngIf="selectedTeamID"
      style="margin-left: 10px; display: inline"
      class="dropdown"
    >
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ x || "Select number" }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a
            class="dropdown-item"
            *ngFor="let i of counter"
            (click)="numberOfRounds(i)"
            value="{{ i }}"
            >{{ i }}</a
          >
        </li>

        <li>
          <a class="dropdown-item" (click)="showAllRounds()">All</a>
        </li>
      </ul>
    </div>
  </div>
  <div style="margin-left: 50px; margin-top: 5px" class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ selectedYear || "All" }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" (click)="clearYearSelection()" value="0"
          >All</a
        >
      </li>

      <li>
        <a class="dropdown-item" (click)="changeYearHandler(2021)" value="2021"
          >2021</a
        >
      </li>
      <li>
        <a class="dropdown-item" (click)="changeYearHandler(2020)" value="2020"
          >2020</a
        >
      </li>
      <li>
        <a class="dropdown-item" (click)="changeYearHandler(2019)" value="2019"
          >2019</a
        >
      </li>
      <li>
        <a class="dropdown-item" (click)="changeYearHandler(2018)" value="2018"
          >2018</a
        >
      </li>
    </ul>
  </div>
  <div id="tips-container" class="container mt-5">
    <div class="row">
      <div class="col-sm-4" *ngFor="let game of games | slice: 0:x">
        <app-single-game [game]="game"></app-single-game>
      </div>
    </div>
  </div>
</div>
