<div id="outer-shell">
  <span> Home Team </span> <span class="ateam-span">Away Team</span> <br />
  <span class="inner-span"
    ><strong>{{ tip.hteam }}</strong>
  </span>
  <span class="ateam-span inner-span"
    ><strong>{{ tip.ateam }}</strong></span
  >
  <br />

  <img src="https://squiggle.com.au/{{ hteamLogo }}" alt="" />
  <img id="ateam-img" src="https://squiggle.com.au/{{ ateamLogo }}" alt="" />
  <div id="winner">
    <span>Expected Winner: </span>
    <strong
      ><span id="tip-span">{{ tip.tip }}</span></strong
    >
  </div>
  <div>
    <span>Source: </span>
    <strong
      ><span class="ateam-span">{{ tip.source }}</span></strong
    >
  </div>
</div>
